.numbers {
  background-image: url(../images/dots-bg.jpg);
  background-size: auto;
  background-position: center center;
  margin-bottom: 100px;

  &__list {
    padding: 50px 0;
    @extend %display-flex;
    @include media_768 {
      flex-wrap: wrap;
    }
  }

  &__item {
    @extend %display-flex;
    flex-wrap: wrap;
    color: #fff;
    width: 100%;
    max-width: 300px;

    &:not(:last-child) {
      border-right: 1px solid #fff;
    }

    @include media_768 {
      display: block;
      margin: 0 auto;
      padding: 20px 0;

      &:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #fff;
      }
    }
  }

  &__item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0 0;
    margin-bottom: 20px;
    letter-spacing: 0.08em;
  }

  &__item-text {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }
}
