.timeline {
  margin-bottom: 150px;
  position: relative;

  .content-box {
    text-align: center;

    &__title {
      margin-bottom: 70px;
      padding: 0 10px;
    }

    &__slogan {
      text-align: center;
    }
  }

  &__item-top {
    position: relative;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #0d73fc;

    &::after {
      content: "";
      display: inline-block;
      height: 10px;
      width: 10px;
      border: 2px solid #0d73fc;
      background-color: #fff;
      z-index: 2;
      position: absolute;
      bottom: -5px;
      left: 0;
      transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &__item-bottom {
    padding-right: 120px;
    text-align: left;
    @extend %OpenSans-400;
    font-size: 16px;
    @include media_979 {
      padding-right: 80px;
    }
    @include media_768 {
      padding-right: 40px;
    }
  }

  &__item-text {
    padding-right: 12px;
  }

  &__item-title {
    @extend %title;
    font-size: 20px;
    margin-bottom: 17px;
    padding-right: 12px;
    text-transform: none;
    color: #000;
  }

  &__item-number {
    font-size: 18px;
    &:first-child {
      font-size: 40px;
    }
  }

  &__icon {
    fill: #0d73fc;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.13, 0.52, 0.73, 0.96);
    &:hover {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .slick-track {
    margin-left: 120px;
    @include media_979 {
      margin-left: 60px;
    }
    @include media_768 {
      margin-left: 30px;
    }
  }

  .slick-current .timeline__item-top:after {
    background-color: #0d73fc;
  }

  .slick-arrow {
    position: absolute;
    bottom: -100px;
    background-color: transparent;
    border: none;
    outline: transparent;
    margin: 0 auto;
    right: 0;
    left: 0;
    border-radius: 50%;
  }

  .slick-next {
    left: 70px;
  }

  .slick-prev {
    right: 70px;
  }
}
