<section class="contract">

  <h2 class="contract-title title">
    Комерційна пропозиція ТОВ "Скай Софт" на продаж електроенергії формується у відповідності до вимог правил
    функціонування нового ринку електричної енергії.
  </h2>

  <p class="content-box__text">
    Згідно Закону України "Про ринок електричної енергії" з 1 липня 2019 року розпочав свою роботу "новий ринок
    електричної енергії", метою якого є запровадження конкурентних механізмів функціонування ринку електроенергії,
    вільний вибір контрагентів та забезпечення права споживача вільно обирати постачальника електричної енергії.
  </p>
  <p class="content-box__text">
    Комерційна пропозиція ТОВ "Скай Софт" застосовується згідно з Договором постачання електричної енергії споживачу,
    який є публічним договором приєднання, укладеним згідно статей 633, 634, 641, 642 Цивільного кодексу України, шляхом
    приєднання Споживача до його умов.
  </p>

  <div class="contract-block">
    <ul class="contract-block__list">

      <li class="contract-block__item">

        <p class="contract-block__text">Договір на постачання електричної енергії</p>
        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#doc-icon"></use>
          </svg>
          Переглянути
        </a>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#pdf-icon"></use>
          </svg>
          Завантажити
        </a>

      </li>

      <li class="contract-block__item">

        <p class="contract-block__text">Додаток 1 (заява-приєднання)</p>
        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#doc-icon"></use>
          </svg>
          Переглянути
        </a>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#pdf-icon"></use>
          </svg>
          Завантажити
        </a>
      </li>

      <li class="contract-block__item">

        <p class="contract-block__text">Додаток 2 (Комерційна пропозиція № 1)</p>
        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#doc-icon"></use>
          </svg>
          Переглянути
        </a>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#pdf-icon"></use>
          </svg>
          Завантажити
        </a>
      </li>

      <li class="contract-block__item">

        <p class="contract-block__text">Додаток 2 (Комерційна пропозиція № 2)</p>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#doc-icon"></use>
          </svg>
          Переглянути
        </a>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#pdf-icon"></use>
          </svg>
          Завантажити
        </a>

      </li>

      <li class="contract-block__item">

        <p class="contract-block__text">Додаток 2 (Комерційна пропозиція № 5)</p>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#doc-icon"></use>
          </svg>
          Переглянути
        </a>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#pdf-icon"></use>
          </svg>
          Завантажити
        </a>

      </li>

      <li class="contract-block__item">

        <p class="contract-block__text">Додаток 3 (Обсяги очікуванного споживання)</p>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#doc-icon"></use>
          </svg>
          Переглянути
        </a>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#pdf-icon"></use>
          </svg>
          Завантажити
        </a>

      </li>

      <li class="contract-block__item">

        <p class="contract-block__text">Форма для подачі лімітів (погодинна)</p>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#doc-icon"></use>
          </svg>
          Переглянути
        </a>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#pdf-icon"></use>
          </svg>
          Завантажити
        </a>

      </li>

      <li class="contract-block__item">

        <p class="contract-block__text">Показники якості надання послуг електропостачальника</p>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#doc-icon"></use>
          </svg>
          Переглянути
        </a>

        <a class="contract-block__btn" href="#">
          <svg class="contract-block__icon" viewBox="0 0 132 132">
            <use xlink:href="images/icons/sprite.svg#pdf-icon"></use>
          </svg>
          Завантажити
        </a>

      </li>

    </ul>
  </div>

</section>