<section class="law">

  <div class="content-box">

    <p class="content-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus erat in
      tincidunt
      consequat. Phasellus sit
      amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligula.
    </p>
  </div>

  <p class="law__title title">
    Нормативні акти
  </p>

  <div class="law__acts">
    <ul class="law__list">
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Занок України №</a>
      </li>
    </ul>

  </div>

  <p class="law__title title">
    Державні органи у сфері енергопостачання
  </p>

  <div class="law__institution">
    <ul class="law__list">
      <li class="law__item">
        <a href="#" class="law__link">Верховна Рада України</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Національна комісія, що здійснює державне регулювання у сферах енергетики та
          комунальних послуг (НКРЕКП)</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Антимонопольний комітет України посилання</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Міністерство енергетики та вугільної промисловості України</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Державне підприємство "ЕНЕРГОРИНОК"</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Державна інспекція з енергетичного нагляду за режимами споживання електричної і
          теплової енергії (ДЕРЖЕНЕРГОНАГЛЯД)</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Урядовий портал</a>
      </li>
      <li class="law__item">
        <a href="#" class="law__link">Державне агентство з енергоефективності та енергозбереження України</a>
      </li>
    </ul>
  </div>

</section>