.price {
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  background-attachment: fixed;

  &__title {
    color: #000;
  }

  &__wrapper {
    max-width: 1200px;
    width: 100%;
    overflow-x: scroll;
  }

  &__table {
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    width: 100%;

    td,
    th {
      padding: 18px 30px;
    }

    th {
      text-align: left;
      font-size: 16px;
      @extend %OpenSans-700;
      @include media_600 {
        text-align: center;
        padding: 10px;
      }
    }
    td {
      text-align: center;
      font-size: 16px;
      @extend %OpenSans-400;
      @include media_600 {
        font-size: 14px;
        padding: 10px 4px;
      }
    }

    thead {
      background-color: #16a4d6;
      color: #323232;
    }

    tbody tr {
      &:nth-of-type(odd) {
        background-color: rgba(238, 238, 238, 0.1);
      }

      &:nth-of-type(even) {
        background-color: rgba(17, 17, 17, 0.05);
      }
    }
  }
}

.title-price {
  text-align: center;
  margin-bottom: 10px;
}

.text-price {
  text-align: center;
  font-weight: 500;
  @extend %Raleway-700;
  font-size: 18px;
  margin-bottom: 50px;
  @include media_600 {
    font-size: 16px;
    
  }

  a {
    color: #16a4d6;
    transition: color 0.5s ease-in-out;

    &:hover {
      color: #fbc903;
    }
  }
}
