html,
body {
  height: 100%;
}

body {
  @extend %OpenSans-400;
  font-size: 14px;
  line-height: 1;
  background-color: #fff;
  overflow: visible;
  overflow-x: hidden;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

