html,
body {
  height: 100%;
}

body {
  @extend %OpenSans-400;
  font-size: 14px;
  line-height: 1;
  background-color: #fff;
  overflow: visible;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

#toTop {
  bottom: 0;
  right: 0;
  display: none;
  width: 60px;
  height: 40px;
  overflow: hidden;
  position: fixed;
  text-decoration: none;
  z-index: 9999;
  font-size: 0;
  color: transparent;
  background-color: #16a4d6;
  opacity: 0.7;
}