body {
  @extend %OpenSans-400;
  font-size: 14px;
  line-height: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.main {
  flex-grow: 1;
  transition: all 0.6s;

  &.overlay {
    opacity: 1;
    transition: all 0.4s ease-in-out;

    &::before {
      background-color: rgb(0, 0, 0);
      transition: all 0.2s ease-in-out;
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      opacity: 0.5;
    }
  }
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

#toTop {
  bottom: 0;
  right: 0;
  display: none;
  width: 60px;
  height: 40px;
  overflow: hidden;
  position: fixed;
  text-decoration: none;
  z-index: 9999;
  font-size: 0;
  color: transparent;
  background-color: #16a4d6;
  opacity: 0.7;
}

.content-box__title {
  display: inline-block;
}

.title {
  font-size: 36px;
  color: $slogan;
  margin-bottom: 40px;
  @extend %Raleway-700;
  line-height: 1.4;

  @include media_1180 {
    font-size: 30px;
  }

  @include media_768 {
    font-size: 24px;
  }
}

.slogan {
  text-transform: uppercase;
  display: block;
  @extend %Raleway-700;
  font-size: 16px;
  color: #a4a4a4;
  margin-bottom: 14px;
}

.text {
  color: $slogan;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;

  @include media_768 {
    font-size: 14px;
  }
}

.clearfix {
  clear: both;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
