<div class="clients">
  <div class="container">

    <div class="clients__container">

      <ul class="clients__list">

        <li class="clients__item">
          <img class="clients__img" src="images/clients/1.png" alt="clients">
        </li>

        <li class="clients__item">
          <img class="clients__img" src="images/clients/2.png" alt="clients">
        </li>

        <li class="clients__item">
          <img class="clients__img" src="images/clients/3.png" alt="clients">
        </li>

        <li class="clients__item">
          <img class="clients__img" src="images/clients/4.png" alt="clients">
        </li>

      </ul>

      <div class="clients__content">
        <h2 class="clients__title title">OUR CLIENTS
        </h2>
        <p class="clients__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum recusandae eos maxime
          maiores velit tenetur excepturi odit quaerat! Ipsam laudantium voluptas similique unde voluptatibus tempora
          amet odit incidunt rem eos!</p>
        <blockquote class="clients__blockquote">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste tenetur ea incidunt officia dolores dolorum voluptatibus laudantium! Quo, illum magni?
        </blockquote>
      </div>

    </div>
  </div>

</div>