<section class="company">

  <div class="company__content">

    <span class="company__slogan slogan">WE OFFER GREEN TECHNOLOGIES
    </span>

    <h2 class="company__title title">
      Про компанію Скай Софт
    </h2>

    <p class="company__text text company__text--italic">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id nibh non lectus finibus tempor. Aliquam erat
      volutpat. Morbi egestas mi vitae dui pretium placerat. Aenean tristique sapien.
    </p>

    <p class="company__text text">
      Quisque maximus dolor non accumsan accumsan. Praesent mollis velit sed libero aliquam, sed aliquam sapien lacinia.
      Sed
      suscipit eros nec ultrices molestie. Vestibulum mollis purus in metus faucibus, in dapibus ante dignissim. Duis
      convallis nulla id nisi imperdiet, nec vehicula augue semper. Donec sed pharetra est, vel congue magna. Curabitur
      ligula
      mauris, semper at eros id.
    </p>

  </div>

  <div class="company__side">
    <div class="company__side-overlay">
      <img class="company__image" src="images/company.jpg" alt="company">
    </div>
  </div>

</section>