<div class="partners">
  <div class="container">

    <div class="partners__container">

      <ul class="partners__list">

        <li class="partners__item">
          <img class="partners__img" src="images/partners/1.png" alt="Partners">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="images/partners/2.png" alt="Partners">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="images/partners/3.png" alt="Partners">
        </li>

        <li class="partners__item">
          <img class="partners__img" src="images/partners/4.png" alt="Partners">
        </li>

      </ul>

      <div class="partners__content">
        <h2 class="partners__title title">OUR CLIENTS
        </h2>
        <p class="partners__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum recusandae eos maxime
          maiores velit tenetur excepturi odit quaerat! Ipsam laudantium voluptas similique unde voluptatibus tempora
          amet odit incidunt rem eos!</p>
        <blockquote class="partners__blockquote">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste tenetur ea incidunt officia dolores dolorum voluptatibus laudantium! Quo, illum magni?
        </blockquote>
      </div>

    </div>
  </div>

</div>