<section class="price"
  style="background-image: linear-gradient(to right,rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)),url('../images/table.jpg')">
  <div class="container">
    <table class="price__table">
      <thead>
        <tr>
          <th>Енергорозподільчі компанії</th>
          <th>1 клас напруги, грн/МВт·год <br> (без урахування податку на додану вартість)</th>
          <th>2 клас напруги, грн/МВт·год <br> (без урахування податку на додану вартість)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>АТ «ВІННИЦЯОБЛЕНЕРГО»</td>
          <td>167,14</td>
          <td>1150,4</td>
        </tr>
        <tr>
          <td>ПРАТ «ВОЛИНЬОБЛЕНЕРГО»</td>
          <td>118,34</td>
          <td>1020,03</td>
        </tr>
        <tr>
          <td>АТ «ДТЕК ДНІПРОВСЬКІ ЕЛЕКТРОМЕРЕЖІ»</td>
          <td>93,38</td>
          <td>697,92</td>
        </tr>
        <tr>
          <td>АТ «ДТЕК ДОНЕЦЬКІ ЕЛЕКТРОМЕРЕЖІ»</td>
          <td>206,32</td>
          <td>1121,27</td>
        </tr>
        <tr>
          <td>АТ«ЖИТОМИРОБЛЕНЕРГО»</td>
          <td>212,81</td>
          <td>1188,01</td>
        </tr>
        <tr>
          <td>ПРАТ «ЗАКАРПАТТЯОБЛЕНЕРГО»</td>
          <td>272,28</td>
          <td>1266,75</td>
        </tr>
        <tr>
          <td>ПАТ «ЗАПОРІЖЖЯОБЛЕНЕРГО</td>
          <td>94,44</td>
          <td>843,9</td>
        </tr>
        <tr>
          <td>ПРАТ «ДТЕК КИЇВСЬКІ ЕЛЕКТРОМЕРЕЖІ»</td>
          <td>84,16</td>
          <td>374,28</td>
        </tr>
        <tr>
          <td>ПРАТ «ДТЕК КИЇВСЬКІ РЕГІОНАЛЬНІ ЕЛЕКТРОМЕРЕЖІ»</td>
          <td>172,48</td>
          <td>754,79</td>
        </tr>
        <tr>
          <td>ПРАТ «КІРОВОГРАДОБЛЕНЕРГО»</td>
          <td>235,57</td>
          <td>1179,59</td>
        </tr>
        <tr>
          <td>ТОВ «ЛУГАНСЬКЕ ЕНЕРГЕТИЧНЕ ОБ’ЄДНАННЯ»</td>
          <td>344,48</td>
          <td>1495,98</td>
        </tr>
        <tr>
          <td>ПРАТ «ЛЬВІВОБЛЕНЕРГО»</td>
          <td>139,33</td>
          <td>955,36</td>
        </tr>
        <tr>
          <td>АТ «МИКОЛАЇВОБЛЕНЕРГО»</td>
          <td>188,55</td>
          <td>987,35</td>
        </tr>
        <tr>
          <td>АТ «ДТЕК ОДЕСЬКІ ЕЛЕКТРОМЕРЕЖІ»</td>
          <td>134,82</td>
          <td>890,28</td>
        </tr>
        <tr>
          <td>ПАТ «ПОЛТАВАОБЛЕНЕРГО»</td>
          <td>110,69</td>
          <td>932,73</td>
        </tr>
        <tr>
          <td>АТ «ПРИКАРПАТТЯОБЛЕНЕРГО</td>
          <td>165,59</td>
          <td>1276,22</td>
        </tr>
        <tr>
          <td>ПРАТ «РІВНЕОБЛЕНЕРГО»</td>
          <td>150,21</td>
          <td>926,21</td>
        </tr>
        <tr>
          <td>АТ «СУМИОБЛЕНЕРГО»</td>
          <td>165,23</td>
          <td>1226,67</td>
        </tr>
        <tr>
          <td>ВАТ «ТЕРНОПІЛЬОБЛЕНЕРГО»</td>
          <td>168,34</td>
          <td>1211,75</td>
        </tr>
        <tr>
          <td>АТ «ХАРКІВОБЛЕНЕРГО»</td>
          <td>184,07</td>
          <td>820,39</td>
        </tr>
        <tr>
          <td>АТ «ХЕРСОНОБЛЕНЕРГО»</td>
          <td>301,38</td>
          <td>1028,86</td>
        </tr>
        <tr>
          <td>АТ «ХМЕЛЬНИЦЬКОБЛЕНЕРГО»</td>
          <td>192,18</td>
          <td>1121,43</td>
        </tr>
        <tr>
          <td>ПАТ «ЧЕРКАСИОБЛЕНЕРГО»</td>
          <td>98,15</td>
          <td>928,33</td>
        </tr>
        <tr>
          <td>АТ «ЧЕРНІВЦІОБЛЕНЕРГО»</td>
          <td>108,71</td>
          <td>991,84</td>
        </tr>
        <tr>
          <td>АТ «ЧЕРНІГІВОБЛЕНЕРГО»</td>
          <td>194,56</td>
          <td>1188,69</td>
        </tr>
        <tr>
          <td>ДПЕМ ПРАТ «АТОМСЕРВІС»</td>
          <td>16,27</td>
          <td>1137,63</td>
        </tr>
        <tr>
          <td>ДП «РЕГІОНАЛЬНІ ЕЛЕКТРИЧНІ МЕРЕЖІ»</td>
          <td>111,83</td>
          <td>371,31</td>
        </tr>
        <tr>
          <td>ПРАТ «ДТЕК ПЕМ-ЕНЕРГОВУГІЛЛЯ»</td>
          <td>27,14</td>
          <td>245,09</td>
        </tr>
        <tr>
          <td>ТОВ «ДТЕК ВИСОКОВОЛЬТНІ МЕРЕЖІ»</td>
          <td>53,25</td>
          <td>1508,28</td>
        </tr>
        <tr>
          <td>АТ «УКРЗАЛІЗНИЦЯ»</td>
          <td>192,82</td>
          <td>907,44</td>
        </tr>
        <tr>
          <td>ПРАТ «ПЕЕМ «ЦЕК»</td>
          <td>83,55</td>
          <td>759,88</td>
        </tr>
        <tr>
          <td>
            <p>ТОВ «НАФТОГАЗ ТЕПЛО»</p>

            <p>(на території м. Новий Розділ Львівської області)</p>
          </td>
          <td>127,07</td>
          <td>1300,39</td>
        </tr>
        <tr>
          <td>
            <p>ТОВ «НАФТОГАЗ ТЕПЛО»</p>

            <p>&nbsp;(на території м. Новояворівськ, смт Івано-Франкове,</p>

            <p>смт Шкло, с. Новий Яр, с. Ліс, х. Окілки, х. Батоги,</p>

            <p>с. Старичі, с. Стадники Яворівського району</p>

            <p>Львівської області)</p>
          </td>
          <td>274,84</td>
          <td>775,66</td>
        </tr>
      </tbody>
    </table>



  </div>

</section>