.breadcrumbs {
  background-image: url("../images/airmill.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center calc(100% - 80%);
  position: relative;
  background-attachment: fixed;
  padding: 40px 0;
  margin-bottom: 60px;

  @include media_600 {
    padding: 40px 0 20px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__title {
    @extend %title;
    overflow: visible;
    position: relative;
    color: #fff;
    margin: 0 0 0 40px;
    font-size: 26px;

    @include media_879 {
      font-size: 21px;
    }

    @include media_600 {
      font-size: 19px;
      margin: 0 auto 30px;
      text-align: center;
      width: 95%;
    }

    &::before,
    &::after {
      @extend %angle;
      border-color: $priority;
    }

    &::before {
      border-right: none;
      border-bottom: none;
      top: -16px;
      left: -4%;

      @include media_768 {
        left: -4%;
      }

    }

    &::after {
      border-left: none;
      border-top: none;
      bottom: -20px;
      right: -4%;

      @include media_768 {
        right: -4%;
      }

    }
  }
}

.breadcrumbs-block {
  @extend %display-flex;

  @include media_768 {
    flex-wrap: wrap;
  }

  &__list {
    @extend %display-flex;

    @include media_600 {
      margin: 0 auto;
      width: 100%;
      justify-content: center;
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 20px;

      &::after {
        content: "/";
        position: absolute;
        font-size: 20px;
        color: #22293399;
        line-height: 1;
        right: -14px;
        top: -2px;
        color: $priority;
      }
    }
  }

  &__link {
    @extend %Raleway-400;
    color: #fff;
    letter-spacing: 0.03em;

    &:hover {
      color: $priority;
    }
  }

  &__link--last {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}