.header {
  background-color: $priority;
  @extend %Raleway-700;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  &__wrapper {
    @extend %display-flex;
  }
}

.logo {
  cursor: pointer;

  &__img {
    display: block;
    max-width: 100%;
    height: 40px;
  }
}

.menu {
  &__list {
    @extend %display-flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    color: #fff;
    position: relative;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;

    &::after,
    &::before {
      @extend %angle;
      opacity: 0;
      transition: all 0.2s ease-in-out 0s;
      z-index: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
      border-width: 0 1px 1px 0;
    }

    &::before {
      top: 0;
      left: 0;
      border-width: 1px 0 0 1px;
    }

    &:hover {
      color: #fbc903;

      &::after,
      &::before {
        width: 20px;
        height: 20px;
        opacity: 1;
      }
    }
  }

  &__link.active-link {
    color: #fbc903;

    &::after,
    &::before {
      width: 20px;
      height: 20px;
      opacity: 1;
    }
  }

  &__item.dropdown-menu {
    position: relative;

    &::after {
      content: ">";
      position: absolute;
      transform: rotate(90deg);
      height: 6px;
      width: 6px;
      right: -6px;
      top: 4px;
    }
  }
}

.lang-block {
  &__list {
    @extend %display-flex;
  }

  &__item:not(:last-child) {
    position: relative;
    margin-right: 20px;

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      right: -12px;
      height: 18px;
      width: 2px;
      background-color: #fff;
    }
  }

  &__link {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    transition: all 0.2s ease-in-out 0s;

    &:hover {
      color: #fbc903;
    }
  }

  &__link.active-link {
    color: #fbc903;
  }
}

.dropdown-menu {
  position: relative;

  &__item {
    padding: 10px 0;
  }

  &:hover .menu__link--dropdown {
    color: #fbc903;
  }

  &:hover .menu__link--dropdown::before,
  &:hover .menu__link--dropdown::after {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  &:hover {
    .dropdown-menu__list.menu__list {
      visibility: visible;
      opacity: 1;
    }
  }

  &__list.menu__list {
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.13);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: $priority;
    display: block;
    transition: all 0.5s ease-in-out;
    border: 1px solid #fff;
    top: 36px;
    padding: 14px 6px;
    width: 300px;
  }

  &__list.dropdown-menu__first {
    width: 214px;
  }

  &__list.dropdown-menu__last {
    width: 252px;
  }

  &__link.menu__link {
    padding: 10px 20px;
    line-height: 1.6;

    &:hover .dropdown-menu__link {
      color: #fbc903;
    }
  }
}