.header {
  background-color: $priority;
  @extend %Raleway-700;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  @include media_1023 {
    padding: 0;
  }

  &__wrapper {
    @extend %display-flex;
    padding: 0 10px;
    max-width: 1220px;
    margin: 0 auto;

    @include media_1023 {
      flex-wrap: wrap;
      padding: 0 30px;
      margin: 15px 0;
    }

    @include media_480 {
      padding: 0 10px;
    }
  }
}

.logo {
  cursor: pointer;

  @include media_1023 {
    order: 2;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: 40px;
  }
}

.menu {
  position: relative;
  height: auto;

  @include media_1023 {
    order: 1;
    position: absolute;
    top: 69px;
    background-color: $priority;
    border-top: 1px solid $secondary;
    left: 0;
    max-width: 400px;
    width: 80%;
    transform: translateX(-200%);
    opacity: 0;
    transition: all 0.5s ease-in;

    &.menu--open {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__list {
    @extend %display-flex;

    @include media_1023 {
      display: block;
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;
      height: calc(100vh - 69px);
      height: calc(var(--vh, 1vh) * 100 - 69px);
    }
  }

  &__item {
    @include media_1023 {
      width: 100%;
      border-bottom: 1px solid $secondary;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include media_1023 {
        margin-right: 0;
      }
    }
  }

  &__link {
    color: #fff;
    position: relative;
    padding: 10px;
    transition: all 0.2s ease-in-out 0s;

    @include media_1023 {
      display: inline-block;
      padding: 20px;
    }

    &::after,
    &::before {
      @extend %angle;
      opacity: 0;
      transition: all 0.2s ease-in-out 0s;
      z-index: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
      border-width: 0 1px 1px 0;

      @include media_1023 {
        bottom: 10px;
        right: 10px;
      }

    }

    &::before {
      top: 0;
      left: 0;
      border-width: 1px 0 0 1px;

      @include media_1023 {
        top: 10px;
        left: 10px;
      }

    }

    &:hover {
      color: #fbc903;

      &::after,
      &::before {
        width: 20px;
        height: 20px;
        opacity: 1;
      }
    }
  }

  &__link.active-link {
    color: #fbc903;

    &::after,
    &::before {
      width: 20px;
      height: 20px;
      opacity: 1;
    }
  }

  &__item.dropdown-menu {
    position: relative;

    &::after {
      content: ">";
      position: absolute;
      transform: rotate(90deg);
      height: 6px;
      width: 6px;
      right: -6px;
      top: 4px;
    }
  }
}

.lang-block {
  @include media_1023 {
    order: 3;
  }

  &__list {
    @extend %display-flex;

    @include media_480 {
      flex-wrap: wrap;
      text-align: center;
    }
  }

  &__item {
    @include media_480 {
      width: 100%;
    }

    &:not(:last-child) {
      position: relative;
      margin-right: 20px;

      @include media_480 {
        margin-right: 0;
        margin-bottom: 10px;
      }

      &::after {
        content: "";
        position: absolute;
        top: -2px;
        right: -12px;
        height: 18px;
        width: 2px;
        background-color: #fff;

        @include media_480 {
          bottom: -5px;
          top: auto;
          height: 2px;
          width: 24px;
          right: 8px;
        }
      }
    }
  }

  &__link {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    transition: all 0.2s ease-in-out 0s;

    &:hover {
      color: #fbc903;
    }
  }

  &__link.active-link {
    color: #fbc903;
  }
}

.dropdown-menu {
  position: relative;

  &__item {
    padding: 10px 0;

    @include media_1023 {
      padding: 0;
      border-bottom: 1px solid $secondary;

    }
  }

  &:hover .menu__link--dropdown {
    color: #fbc903;
  }

  &:hover .menu__link--dropdown::before,
  &:hover .menu__link--dropdown::after {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  &:hover {
    @include media_min_1024 {

      .dropdown-menu__list.menu__list {
        visibility: visible;
        opacity: 1;

        @include media_1023 {
          height: auto;
          display: block;
          left: 10%;
          width: 90%;
          top: 0px;
          padding: 0px;
          border: none;
          border-top: 1px solid $secondary;

        }
      }
    }
  }

  &__list.menu__list {
    background-color: $priority;
    display: block;
    transition: all 0.5s ease-in-out;
    border: 1px solid #fff;
    top: 24px;
    padding: 14px 6px;

    @include media_min_1024 {
      width: calc(100% + 130px);
      visibility: hidden;
      opacity: 0;
      box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.13);
      position: absolute;
    }

    @include media_1023 {
      position: relative;
      top: 0;
      width: calc(100% - 20px);
      left: 20px;
      border: none;
      border-left: 1px solid $secondary;
      border-top: 1px solid $secondary;
      padding: 0;
      transition: opacity 0.3s, height 0.4s ease;
      opacity: 0;
      height: 0;
      overflow: hidden;

      &.menu__list--open {
        height: auto;
        opacity: 1;
      }
    }
  }

  &__link.menu__link {
    line-height: 1;

    @include media_1023 {
      padding: 20px;
    }

    &:hover .dropdown-menu__link {
      color: #fbc903;
    }
  }
}

.hamburglar {
  display: none;
  transform: scale(0.8);
  position: relative;
  background-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  position: relative;
  top: 4px;
  left: 4px;

  @include media_1023 {
    display: block;
  }
}

.path-burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  mask: url(#mask);
  -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

// what this does is create a small square that I then rotate behind an svg mask, giving the apparence of the line animating
.path-rotation {
  height: 34px;
  width: 34px;
  margin: 34px 34px 0 0;
  transform: rotate(0deg);
  transform-origin: 100% 0;

  &:before {
    content: "";
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: $color;
  }
}

// box rotation animation
@keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }

  40% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// offset moves
// dasharray is the dash size
// need to be able to control dash space size.

.hamburglar.is-open {
  .path {
    animation: dash-in $animation linear normal;
    animation-fill-mode: forwards;
  }

  .animate-path {
    animation: rotate-in $animation linear normal;
    animation-fill-mode: forwards;
  }
}

.hamburglar.is-closed {
  .path {
    animation: dash-out $animation linear normal;
    animation-fill-mode: forwards;
  }

  .animate-path {
    animation: rotate-out $animation linear normal;
    animation-fill-mode: forwards;
  }
}

.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  stroke-linejoin: round;
}

@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 240;
  }

  100% {
    stroke-dashoffset: 240;
  }
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: $color;
}

.burger-bun-top {
  top: 0;
  transform-origin: 34px 2px;
}

.burger-bun-bot {
  bottom: 0;
  transform-origin: 34px 2px;
}

//.burger-filling {
//  @include transition(all,($animation/2.5),ease-in-//out);
//}
// relative parent is the button
.burger-filling {
  top: 12px;
}

// burger ring container
.burger-ring {
  position: absolute;
  top: -18px;
  left: -16px;
  width: 48px;
  height: 48px;
}

.svg-ring {
  width: 68px;
  height: 68px;
}

// bun animations
.hamburglar.is-open {
  .burger-bun-top {
    animation: bun-top-out $animation linear normal;
    animation-fill-mode: forwards;
  }

  .burger-bun-bot {
    animation: bun-bot-out $animation linear normal;
    animation-fill-mode: forwards;
  }
}

.hamburglar.is-closed {
  .burger-bun-top {
    animation: bun-top-in $animation linear normal;
    animation-fill-mode: forwards;
  }

  .burger-bun-bot {
    animation: bun-bot-in $animation linear normal;
    animation-fill-mode: forwards;
  }
}

@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }

  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }

  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    transform: rotate(-15deg);
  }

  80% {
    left: -5px;
    transform: rotate(60deg);
  }

  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}

@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }

  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }

  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }

  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}

@keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }

  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }

  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }

  100% {
    left: 0;
    transform: rotate(0deg);
  }
}

// burger filling
.hamburglar.is-open {
  .burger-filling {
    animation: burger-fill-out $animation linear normal;
    animation-fill-mode: forwards;
  }
}

.hamburglar.is-closed {
  .burger-filling {
    animation: burger-fill-in $animation linear normal;
    animation-fill-mode: forwards;
  }
}

@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  80% {
    width: 36px;
    left: -6px;
  }

  100% {
    width: 36px;
    left: 0px;
  }
}

@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }

  20% {
    width: 42px;
    left: -6px;
  }

  40% {
    width: 0;
    left: 40px;
  }

  100% {
    width: 0;
    left: 36px;
  }
}