.pagination {
  width: 100%;
  margin-bottom: 100px;

  &__list {
    display: flex;

    @include media_979 {
      justify-content: center;

    }
  }

  &__item {
    margin-right: 10px;

    &:last-child .pagination__link,
    &:first-child .pagination__link {
      border-color: transparent;

      &:hover {
        background-color: transparent;
        color: #0d73fc;
        border-bottom: 1px solid #0d73fc;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    border: 1px solid #0d73fc;
    padding: 10px 14px;
    @extend %Raleway-500;
    color: $slogan;
    font-size: 18px;
    line-height: 1.5em;
    transition: all 0.4s ease;

    @include media_480 {
      padding: 9px;
    }

    &:hover {
      background-color: #0d73fc;
      color: #fff;
    }
  }

  &__link--active {
    background-color: #0d73fc;
    color: #fff;
  }
}