<div class="breadcrumbs" style="background-image: url(../images/airmill.jpg);">
  <div class="container">
    <div class="breadcrumbs-block">

      <h1 class="breadcrumbs__title title">@@page-title</h1>

      <ul class="breadcrumbs-block__list">
        <li class="breadcrumbs-block__item">
          <a href="index.html" class="breadcrumbs-block__link">
            Головна
          </a>
        </li>
        <li class="breadcrumbs-block__item">
          <span class="breadcrumbs-block__link breadcrumbs-block__link--last">
            @@text
          </span>
        </li>
      </ul>
    </div>
  </div>

</div>