<section class="contact">

  <div class="contact__content">

    <div class="contact__content-block">
      <span class="contact__slogan slogan">WE OFFER GREEN TECHNOLOGIES
      </span>

      <h2 class="contact__title title">
        Контакти
      </h2>

      <address class="contacts-block">

        <ul class="contacts-block__list">

          <li class="contacts-block__item contacts-block__item--marker  icon">
            <h4 class="contacts-block__title">
              HEAD OFFICE
            </h4>
            <p class="contacts-block__adrress">1116 15th St, Sacramento,
              California, CA 95814, USA</p>
          </li>

          <li class="contacts-block__item contacts-block__item--phone  icon">
            <h4 class="contacts-block__title">
              CALL US
            </h4>
            <span class="contacts-block__phone">Support:
              <a href="tel:+38001234566" class="contacts-block__phone-link">
                0800 123 4566
              </a>
            </span>
            <span class="contacts-block__phone">Office:
              <a href="tel:+38001234566" class="contacts-block__phone-link">
                0800 123 4566
              </a>
            </span>
          </li>

          <li class="contacts-block__item contacts-block__item--mail icon">
            <h4 class="contacts-block__title">
              EMAIL US
            </h4>
            <a href="" class="contacts-block__email">
              energy@support.com
            </a>
            <a href="" class="contacts-block__email">
              energy@info.com
            </a>
          </li>

        </ul>

      </address>
    </div>
    <div class="contact__content-block">

      <h2 class="contact__title title">
        Напишіть
      </h2>

      <form class="contacts-form__block form" action="#">
        <div class="form__top">
          <input class="form__name" type="text" placeholder="Name">
          <input class="form__email" type="email" placeholder="Email">
        </div>
        <input class="form__subject" type="email" placeholder="Subject">
        <textarea class="form__text" placeholder="Message"></textarea>
        <button class="form__send">Send message</button>
      </form>
    </div>

  </div>


  <div class="contact__map">
    <div id="map"></div>
  </div>

</section>