<header class="header">
  <div class="container">
    <div class="header__wrapper">

      <a class="logo">
        <img class="logo__img" src="images/logo.png" alt="ТОВ Скай софт">
      </a>

      <nav class="menu">

        <ul class="menu__list">

          <li class="menu__item">
            <a href="#" class="menu__link active-link">Головна</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">
              Про нас
            </a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">
              Споживачу
            </a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">
              Електроенергія
            </a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">
              Новини
            </a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">
              Контакти
            </a>
          </li>

        </ul>

      </nav>

      <div class="header__lang lang-block">

        <ul class="lang-block__list">

          <li class="lang-block__item">
            <a href="#" class="lang-block__link active-link">
              UA
            </a>
          </li>

          <li class="lang-block__item">
            <a href="#" class="lang-block__link">
              RU
            </a>
          </li>

        </ul>
      </div>

    </div>

  </div>
</header>