<header class="header">
  <div class="header__wrapper">

    <a class="logo" href="index.html">
      <img class="logo__img" src="images/logo.svg" alt="ТОВ Скай софт">
    </a>

    <nav class="menu">
     
      <ul class="menu__list">

        <li class="menu__item">
          <a href="index.html" class="menu__link active-link">Головна</a>
        </li>

        <li class="menu__item dropdown-menu">
          <a href="about.html" class="menu__link menu__link--dropdown">
            Про компанію
          </a>

          <ul class="dropdown-menu__list menu__list dropdown-menu__first">

            <li class="dropdown-menu__item">
              <a href="#" class="menu__link dropdown-menu__link">
                Центр обслуговування
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="#" class="menu__link dropdown-menu__link">
                Установчі документи
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="clients.html" class="menu__link dropdown-menu__link">
                Клієнти компанії
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="vacancy.html" class="menu__link dropdown-menu__link">
                Вакансії
              </a>
            </li>

          </ul>
        </li>

        <li class="menu__item dropdown-menu">
          <a href="#" class="menu__link menu__link--dropdown">
            Електрична енергія
          </a>

          <ul class="dropdown-menu__list menu__list ">

            <li class="dropdown-menu__item">
              <a href="#" class="menu__link dropdown-menu__link">
                Постачання електроенергії
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="#" class="menu__link dropdown-menu__link">
                Стандарти якості послуг
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="contracts.html" class="menu__link dropdown-menu__link">
                Договір та комерційні пропозиції
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="price.html" class="menu__link dropdown-menu__link">
                Ціни на електроенергію
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="law.html" class="menu__link dropdown-menu__link">
                Законодавство
              </a>
            </li>
          </ul>
        </li>

        <li class="menu__item">
          <a href="blog.html" class="menu__link">
            Новини
          </a>
        </li>

        <li class="menu__item dropdown-menu">
          <a href="#" class="menu__link menu__link--dropdown ">
            Споживачам
          </a>

          <ul class="dropdown-menu__list menu__list dropdown-menu__last">

            <li class="dropdown-menu__item">
              <a href="#" class="menu__link dropdown-menu__link">
                Зміна постачальника
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="disputes.html" class="menu__link dropdown-menu__link">
                Вирішення спорів
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="info.html" class="menu__link dropdown-menu__link">
                Інфодовідка для споживачів
              </a>
            </li>

            <li class="dropdown-menu__item">
              <a href="faq.html" class="menu__link dropdown-menu__link">
                Поширені питання
              </a>
            </li>

          </ul>
        </li>

        <li class="menu__item">
          <a href="contact.html" class="menu__link">
            Контакти
          </a>
        </li>

      </ul>

    </nav>

    <div id="hamburger" class="hamburglar">
      <div class="burger-icon">
        <div class="burger-container">
          <span class="burger-bun-top"></span>
          <span class="burger-filling"></span>
          <span class="burger-bun-bot"></span>
        </div>
      </div>
      <div class="burger-ring">
        <svg class="svg-ring">
          <path class="path" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="4"
            d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2" />
        </svg>
      </div>
      <svg width="0" height="0">
        <mask id="mask">
          <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ff0000" stroke-miterlimit="10" stroke-width="4"
            d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4" />
        </mask>
      </svg>
      <div class="path-burger">
        <div class="animate-path">
          <div class="path-rotation"></div>
        </div>
      </div>
    </div>

    <div class="header__lang lang-block">

      <ul class="lang-block__list">

        <li class="lang-block__item">
          <a href="#" class="lang-block__link active-link">
            UA
          </a>
        </li>

        <li class="lang-block__item">
          <a href="#" class="lang-block__link">
            RU
          </a>
        </li>

      </ul>
    </div>


  </div>
</header>