<header class="header">
  <div class="container">
    <div class="header__wrapper">

      <a class="logo">
        <img class="logo__img" src="images/logo.png" alt="ТОВ Скай софт">
      </a>

      <nav class="menu">

        <ul class="menu__list">

          <li class="menu__item">
            <a href="index.html" class="menu__link active-link">Головна</a>
          </li>

          <li class="menu__item dropdown-menu">
            <a href="about.html" class="menu__link menu__link--dropdown">
              Про компанію
            </a>

            <ul class="menu__list dropdown-menu__list">

              <li class="dropdown-menu__item">
                <a href="about.html" class="menu__link dropdown-menu__link">
                  Про нас
                </a>
              </li>

              <li class="dropdown-menu__item">
                <a href="#" class="menu__link dropdown-menu__link">
                  Установчі документи
                </a>
              </li>

              <li class="dropdown-menu__item">
                <a href="#" class="menu__link dropdown-menu__link">
                  Партнери компанії
                </a>
              </li>

              <li class="dropdown-menu__item">
                <a href="#" class="menu__link dropdown-menu__link">
                  Вакансії
                </a>
              </li>

            </ul>
          </li>

          <li class="menu__item dropdown-menu">
            <a href="#" class="menu__link menu__link--dropdown">
              Електрична енергія
            </a>

            <ul class="menu__list dropdown-menu__list">

              <li class="dropdown-menu__item">
                <a href="#" class="menu__link dropdown-menu__link">
                  Поставка електроенергії
                </a>
              </li>

              <li class="dropdown-menu__item">
                <a href="#" class="menu__link dropdown-menu__link">
                  Комерційні пропозиції
                </a>
              </li>

              <li class="dropdown-menu__item">
                <a href="contracts.html" class="menu__link dropdown-menu__link">
                  Договори
                </a>
              </li>

              <li class="dropdown-menu__item">
                <a href="law.html" class="menu__link dropdown-menu__link">
                  Законодавство
                </a>
              </li>

              <li class="dropdown-menu__item">
                <a href="price.html" class="menu__link dropdown-menu__link">
                  Ціни на електроенергію
                </a>
              </li>

            </ul>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">
              Новини
            </a>
          </li>

          <li class="menu__item dropdown-menu">
            <a href="#" class="menu__link menu__link--dropdown ">
              споживачам
            </a>

            <ul class="menu__list dropdown-menu__list">

              <li class="dropdown-menu__item">
                <a href="#" class="menu__link dropdown-menu__link">
                  Інфодовідка для споживачів
                </a>
              </li>

              <li class="dropdown-menu__item">
                <a href="#" class="menu__link dropdown-menu__link">
                  Поширені питання
                </a>
              </li>

            </ul>
          </li>

          <li class="menu__item">
            <a href="contact.html" class="menu__link">
              Контакти
            </a>
          </li>

        </ul>

      </nav>

      <div class="header__lang lang-block">

        <ul class="lang-block__list">

          <li class="lang-block__item">
            <a href="#" class="lang-block__link active-link">
              UA
            </a>
          </li>

          <li class="lang-block__item">
            <a href="#" class="lang-block__link">
              RU
            </a>
          </li>

        </ul>
      </div>

    </div>

  </div>
</header>