<section class="about" style="background-image: url('images/about-bg2.jpg');">
    <div class="about__content content-box">

      <h2 class="content-box__title">
        About Us
      </h2>

      <p class="content-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunt
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligula.Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunt
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligulaLorem ipsum dolor sit
        amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunttincidunt
      </p>
      <p class="content-box__text">
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligulaLorem ipsum dolor sit
        amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunt
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligulaLorem ipsum dolor sit
        amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunt
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligula
      </p>

      <a class="content-box__link" href="#">Read more</a>
    </div>

</section>