<section class="articles">
    <div class="articles__content content-box">
      <h2 class="content-box__title">
        WHAT WE OFFER
      </h2>

      <span class="content-box__slogan">
        WE OOFER DIFERENT SERVICES
      </span>

      <p class="content-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunt
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligula.
      </p>

    </div>

    <div class="articles-list">

      <article class="articles-block">
        <img class="articles-block__img" src="images/home-blog/home-blog.jpg" alt="">

        <div class="articles-block__content">

          <div class="articles-block__header">
            <time class="articles-block__date" datetime="2016-08-01T15:05:23+00:00">
              <span class="articles-block__date-number">07</span>
              Jan
            </time>
          </div>

          <a class="articles-block__link" href="#"></a>

          <div class="articles-block__footer">
            <h3 class="articles-block__title">
              Lorem ipsum dolor sit amet, consecter adipiscing elit Donec
            </h3>

            <div class="articles-block__footer-block">

              <span class="articles-block__author">
                by admin
              </span>

              <span class="articles-block__viewers">
                Просмотров: <span>125</span>
              </span>

            </div>
          </div>


        </div>

      </article>

      <ul class="articles-list__items">

        <li class="articles-list__item">
          <article class="articles-list__block article-box">

            <a class="article-box__link active"></a>
            <div class="article-box__subject">
              <div class="articles-block__header">
                <time class="articles-block__date" datetime="2016-08-01T15:05:23+00:00">
                  <span class="articles-block__date-number">07</span>
                  Jan
                </time>
              </div>

              <div class="articles-block__footer">
                <h3 class="articles-block__title">
                  <a class="articles-block__link-blog" href="#">
                    Lorem ipsum dolor sit amet, consecter adipiscing elit Donec
                  </a>
                </h3>

                <div class="articles-block__footer-block">

                  <span class="articles-block__author">
                    by admin
                  </span>

                  <span class="articles-block__viewers">
                    Просмотров: <span>125</span>
                  </span>

                </div>
              </div>


            </div>

            <div class="article-box__content active">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis
                omnis quos nam,
                pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor!
              </p>
            </div>

          </article>
        </li>

        <li class="articles-list__item">
          <article class="articles-list__block article-box">

            <a class="article-box__link "></a>
            <div class="article-box__subject">

              <div class="articles-block__header">
                <time class="articles-block__date" datetime="2016-08-01T15:05:23+00:00">
                  <span class="articles-block__date-number">07</span>
                  Jan
                </time>
              </div>

              <div class="articles-block__footer">
                <h3 class="articles-block__title">
                  <a class="articles-block__link-blog" href="#"> Lorem ipsum dolor sit amet, consecter adipiscing elit
                    Donec
                  </a>
                </h3>

                <div class="articles-block__footer-block">

                  <span class="articles-block__author">
                    by admin
                  </span>

                  <span class="articles-block__viewers">
                    Просмотров: <span>125</span>
                  </span>

                </div>
              </div>


            </div>

            <div class="article-box__content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis
                omnis quos nam,
                pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor!
              </p>
            </div>

          </article>
        </li>

        <li class="articles-list__item">
          <article class="articles-list__block article-box">

            <a class="article-box__link"></a>
            <div class="article-box__subject">

              <div class="articles-block__header">
                <time class="articles-block__date" datetime="2016-08-01T15:05:23+00:00">
                  <span class="articles-block__date-number">07</span>
                  Jan
                </time>
              </div>

              <div class="articles-block__footer">
                <h3 class="articles-block__title">
                  <a class="articles-block__link-blog" href="#"> Lorem ipsum dolor sit amet, consecter adipiscing elit
                    Donec
                  </a>
                </h3>

                <div class="articles-block__footer-block">

                  <span class="articles-block__author">
                    by admin
                  </span>

                  <span class="articles-block__viewers">
                    Просмотров: <span>125</span>
                  </span>

                </div>
              </div>


            </div>

            <div class="article-box__content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis
                omnis quos nam,
                pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor!
              </p>
            </div>

          </article>
        </li>

      </ul>


  </div>
</section>