<section class="choose" style="background-image: url('images/about-bg2.jpg');">
  <div class="choose-block">
    <div class="choose__content content-box">

      <h2 class="content-box__title ">
        WHY CHOOSE US
      </h2>

      <p class="content-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunt
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla

    </div>

    <ul class="choose__list">

      <li class="choose__item">
        <h3 class="choose__item-title">
          Lorem Lorem
        </h3>
        <p class="choose__item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, officiis.
        </p>
      </li>

      <li class="choose__item">
        <h3 class="choose__item-title">
          Lorem Lorem
        </h3>
        <p class="choose__item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, officiis.
        </p>
      </li>

      <li class="choose__item">
        <h3 class="choose__item-title">
          Lorem Lorem
        </h3>
        <p class="choose__item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, officiis.
        </p>
      </li>

      <li class="choose__item">
        <h3 class="choose__item-title">
          Lorem Lorem
        </h3>
        <p class="choose__item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, officiis.
        </p>
      </li>
    </ul>

  </div>


</section>