<section class="contacts">
  <div class="container">

    <div class="contacts__content content-box">

      <span class="content-box__slogan">
        CONNECT WITH US
      </span>

      <h2 class="content-box__title ">
        OUR CONTACTS
      </h2>

      <p class="content-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunt
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligula.
      </p>
    </div>

    <address class="contacts-block">

      <ul class="contacts-block__list">

        <li class="contacts-block__item contacts-block__item--marker  icon">
          <h3 class="contacts-block__title">
            HEAD OFFICE
          </h3>
          <p class="contacts-block__adrress">1116 15th St, Sacramento,
            California, CA 95814, USA</p>
        </li>

        <li class="contacts-block__item contacts-block__item--phone  icon">
          <h3 class="contacts-block__title">
            CALL US
          </h3>
          <span class="contacts-block__phone">Support:
            <a href="tel:+38001234566" class="contacts-block__phone-link">
              0800 123 4566
            </a>
          </span>
          <span class="contacts-block__phone">Office:
            <a href="tel:+38001234566" class="contacts-block__phone-link">
              0800 123 4566
            </a>
          </span>
        </li>

        <li class="contacts-block__item contacts-block__item--mail icon">
          <h3 class="contacts-block__title">
            EMAIL US
          </h3>
          <a href="" class="contacts-block__email">
            energy@support.com
          </a>
          <a href="" class="contacts-block__email">
            energy@info.com
          </a>
        </li>

      </ul>

    </address>

    <div class="contacts-form">

      <div class="contacts__content content-box">

        <h4 class="content-box__title">
          CONTACT FORM
        </h4>

      </div>


      <form class="contacts-form__block form" action="#">
        <div class="form__top">
          <input class="form__name" type="text" placeholder="Name">
          <input class="form__email" type="email" placeholder="Email">
        </div>
        <input class="form__subject" type="email" placeholder="Subject">
        <textarea class="form__text" placeholder="Message"></textarea>
        <button class="form__send">Send message</button>
      </form>
    </div>
  </div>

</section>