<div class="numbers">
  <div class="container">
    <ul class="numbers__list">
      <li class="numbers__item">
        <span class="numbers__item-title">
          1500+
        </span>
        <span class="numbers__item-text">
          lorem
        </span>
      </li>

      <li class="numbers__item">
        <span class="numbers__item-title">
          1500+
        </span>
        <span class="numbers__item-text">
          lorem
        </span>
      </li>

      <li class="numbers__item">
        <span class="numbers__item-title">
          1500+
        </span>
        <span class="numbers__item-text">
          lorem
        </span>
      </li>

      <li class="numbers__item">
        <span class="numbers__item-title">
          1500+
        </span>
        <span class="numbers__item-text">
          lorem
        </span>
      </li>

      <li class="numbers__item">
        <span class="numbers__item-title">
          1500+
        </span>
        <span class="numbers__item-text">
          lorem
        </span>
      </li>
    </ul>

  </div>
</div>