<section class="offer">


    <div class="offer__content content-box">
      <h2 class="content-box__title">
        WHAT WE OFFER
      </h2>

      <span class="content-box__slogan">
        WE OOFER DIFERENT SERVICES
      </span>

      <p class="content-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus erat in
        tincidunt
        consequat. Phasellus sit
        amet convallis turpis, molestie nunc. Nulla facilisi. Vestibulum aliquam convallis ligula.
      </p>
    </div>


    <ul class="offer__list">
      <li class="offer__item">
        <h3 class="offer__item-title">solar system
        </h3>
        <p class="offer__item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus iste eos saepe.
        </p>

        <a class="offer__item-link" href="#">Read more</a>

      </li>

      <li class="offer__item">
        <h3 class="offer__item-title">wind system
        </h3>
        <p class="offer__item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus iste eos saepe.
        </p>

        <a class="offer__item-link" href="#">Read more</a>

      </li>

      <li class="offer__item">
        <h3 class="offer__item-title">heat system
        </h3>
        <p class="offer__item-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus iste eos saepe.
        </p>

        <a class="offer__item-link" href="#">Read more</a>

      </li>
    </ul>


</section>