<div class="slider">

  <ul class="slider__list">

      <li class="slider__item">
        <img class="slider__img" src="images/slider/slide1.jpg" alt="Слайдер">
        
        <div class="slider__item-content content-block">

          <span class="content-block__slogan">
            ENERGY AS CLEAN AS THE WIND
          </span>

          <h1 class="content-block__title">
            CLEAN, SAFE, RENEWABLE
          </h1>

          <p class="content-block__text">
            Nulla eget ipsum id est accumsan pellentesque nec et odio. Duis sit amet convallis sem, tincidunt feugiat
            lorem. Nunc porttitor arcu ac dui aliquam efficitur.
          </p>

          <div class="content-block__bottom">
            <a class="content-block__link" href="#">
              Discover Now
            </a>
          </div>

        </div>
      </li>

      <li class="slider__item">
        <img class="slider__img" src="images/slider/slide2.jpg" alt="Слайдер">
        <div class="slider__item-content content-block">
          <span class="content-block__slogan">
            ENERGY AS CLEAN AS THE WIND
          </span>
          <h2 class="content-block__title">
            CLEAN, SAFE, RENEWABLE
          </h2>
          <p class="content-block__text">
            Nulla eget ipsum id est accumsan pellentesque nec et odio. Duis sit amet convallis sem, tincidunt feugiat
            lorem. Nunc porttitor arcu ac dui aliquam efficitur.
          </p>

          <div class="content-block__bottom">
            <a class="content-block__link" href="#">
              Discover Now
            </a>
          </div>
        </div>
      </li>

      <li class="slider__item">
        <img class="slider__img" src="images/slider/slide3.jpg" alt="Слайдер">
        <div class="slider__item-content content-block">
          <span class="content-block__slogan">
            ENERGY AS CLEAN AS THE WIND
          </span>
          <h2 class="content-block__title">
            CLEAN, SAFE, RENEWABLE
          </h2>
          <p class="content-block__text">
            Nulla eget ipsum id est accumsan pellentesque nec et odio. Duis sit amet convallis sem, tincidunt feugiat
            lorem. Nunc porttitor arcu ac dui aliquam efficitur.
          </p>

          <div class="content-block__bottom">
            <a class="content-block__link" href="#">
              Discover Now
            </a>
          </div>
        </div>
      </li>

      <li class="slider__item">
        <img class="slider__img" src="images/slider/slide4.jpg" alt="Слайдер">
        <div class="slider__item-content content-block">
          <span class="content-block__slogan">
            ENERGY AS CLEAN AS THE WIND
          </span>

          <h2 class="content-block__title">
            CLEAN, SAFE, RENEWABLE
          </h2>
          <p class="content-block__text">
            Nulla eget ipsum id est accumsan pellentesque nec et odio. Duis sit amet convallis sem, tincidunt feugiat
            lorem. Nunc porttitor arcu ac dui aliquam efficitur.
          </p>

          <div class="content-block__bottom">
            <a class="content-block__link" href="#">
              Discover Now
            </a>
          </div>
        </div>
      </li>
  </ul>

</div>