<section class="timeline">
  <div class="timeline__content content-box">
    <div class="container">
      <span class="content-box__slogan">
        WE OOFER DIFERENT SERVICES
      </span>

      <h2 class="content-box__title">
        How we work
      </h2>
    </div>
    <ol class="timeline__list">

      <li class="timeline__item">
        <div class="timeline__item-top">
          <span class="timeline__item-number">01</span>
          <span class="timeline__item-number"> / 06</span>
        </div>
        <div class="timeline__item-bottom">
          <h3 class="timeline__item-title">Lorem ipsum dolor sit amet.</h3>
          <p class="timeline__item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti in
            recusandae sed consequatur, eius reiciendis!</p>
        </div>
      </li>

      <li class="timeline__item">
        <div class="timeline__item-top">
          <span class="timeline__item-number">02</span>
          <span class="timeline__item-number"> / 06</span>
        </div>
        <div class="timeline__item-bottom">
          <h3 class="timeline__item-title">Lorem ipsum dolor sit amet.</h3>
          <p class="timeline__item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti in
            recusandae sed consequatur, eius reiciendis!</p>
        </div>
      </li>

      <li class="timeline__item">
        <div class="timeline__item-top">
          <span class="timeline__item-number">03</span>
          <span class="timeline__item-number"> / 06</span>
        </div>
        <div class="timeline__item-bottom">
          <h3 class="timeline__item-title">Lorem ipsum dolor sit amet.</h3>
          <p class="timeline__item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti in
            recusandae sed consequatur, eius reiciendis!</p>
        </div>
      </li>

      <li class="timeline__item">
        <div class="timeline__item-top">
          <span class="timeline__item-number">04</span>
          <span class="timeline__item-number"> / 06</span>
        </div>
        <div class="timeline__item-bottom">
          <h3 class="timeline__item-title">Lorem ipsum dolor sit amet.</h3>
          <p class="timeline__item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti in
            recusandae sed consequatur, eius reiciendis!</p>
        </div>
      </li>

      <li class="timeline__item">
        <div class="timeline__item-top">
          <span class="timeline__item-number">05</span>
          <span class="timeline__item-number"> / 06</span>
        </div>
        <div class="timeline__item-bottom">
          <h3 class="timeline__item-title">Lorem ipsum dolor sit amet.</h3>
          <p class="timeline__item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti in
            recusandae sed consequatur, eius reiciendis!</p>
        </div>
      </li>

      <li class="timeline__item">
        <div class="timeline__item-top">
          <span class="timeline__item-number">06</span>
          <span class="timeline__item-number"> / 06</span>
        </div>
        <div class="timeline__item-bottom">
          <h3 class="timeline__item-title">Lorem ipsum dolor sit amet.</h3>
          <p class="timeline__item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti in
            recusandae sed consequatur, eius reiciendis!</p>
        </div>
      </li>

    </ol>

  </div>

</section>