<section class="timeline">
  <div class="timeline__content content-box">

    <span class="content-box__slogan">
      WE OOFER DIFERENT SERVICES
    </span>

    <h2 class="content-box__title">
      How we work
    </h2>

    <ol class="timeline__list">

      <li class="timeline__item" data-text="lorem jhg uogy hbvuv jv vuvuvkukvjkvhj vv hjv">
        <img class="timeline__img" src="images/icon.svg" alt="Logoas">
      </li>

      <li class="timeline__item" data-text="lorem jhg uogy hbvuv jv vuvuvkukvjkvhj vv hjv">
        <img class="timeline__img" src="images/icon.svg" alt="Logoas">
      </li>

      <li class="timeline__item" data-text="lorem jhg uogy hbvuv jv vuvuvkukvjkvhj vv hjv">
        <img class="timeline__img" src="images/icon.svg" alt="Logoas">
      </li>
      <li class="timeline__item" data-text="lorem jhg uogy hbvuv jv vuvuvkukvjkvhj vv hjv">
        <img class="timeline__img" src="images/icon.svg" alt="Logoas">
      </li>

      <li class="timeline__item" data-text="lorem jhg uogy hbvuv jv vuvuvkukvjkvhj vv hjv">
        <img class="timeline__img" src="images/icon.svg" alt="Logoas">
      </li>

    </ol>

  </div>

</section>