.info {
  .content-box__text {
    padding: 0;
    font-style: normal;
    margin-bottom: 50px;
  }

  &__block {
    @extend %display-flex;
    margin-bottom: 70px;
    align-items: flex-start;

    @include media_768 {
      flex-wrap: wrap;
    }
  }

  &__tabs {
    max-width: 400px;
    width: 100%;
    margin-right: 50px;
    overflow: hidden;

    &::-webkit-scrollbar-thumb {
      height: 2px;
    }

    &::-webkit-scrollbar {
      width: px;
      background-color: $secondary;
      border: 1px solid $priority;
      border-radius: 10px;
    height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border: 3px solid $priority;
      border-radius: 10px;

    }

    @include media_768 {
      display: flex;
      overflow-x: scroll;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      padding-bottom: 10px;
    }

  }

  &__item {
    margin-bottom: 20px;
    cursor: pointer;
    @extend %display-flex;
    background-color: rgba(13, 115, 252, 0.85);
    padding-right: 10px;
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;

    @include media_768 {
      margin: 0 20px 0 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    display: block;
    width: 60px;
    height: auto;
    fill: #fff;
    border-left: 1px solid $secondary;
    border-bottom: 1px solid transparent;
    padding-left: 20px;

    @include media_768 {
      transform: rotate(90deg);
      border-bottom-color: $secondary;
      border-left-color: transparent;
      padding: 0px 10px 10px;
    }
  }

  &__item--active {
    background-color: #fff;
    border: 1px solid $priority;

    .info__tab {
      color: $priority;
    }

    .info__icon {
      fill: $priority;
      border-left-color: $priority;

      @include media_768 {
        transform: rotate(90deg);
        border-bottom-color: $priority;
        border-left-color: transparent;
        padding: 0px 10px 10px;
      }
    }
  }

  &__tab {
    display: block;
    width: 100%;
    position: relative;
    color: $secondary;
    @extend %OpenSans-400;
    font-size: 15px;
    padding: 20px 0 20px 30px;

    @include media_768 {
      padding: 12px 30px;
    }
  }

  &__content {
    position: relative;
    width: 100%;
  }

  &__content-item {
    position: relative;
    top: 0;
    display: none;

    &:first-child {
      display: block;
    }
  }

  &__text.content-box__text {
    margin-bottom: 18px;
  }
}