<article class="blog__item">

  <div class="blog__block">
    <div class="blog__top">
      <a class="blog__link" href="single.html">
        <img class="blog__image" src="images/blog-1.jpg" alt="Блог">
      </a>
      <div class="blog__date">
        <span class="day">18</span>
        <span class="month">may</span>
      </div>
    </div>
    <div class="blog__bottom">
      <h2 class="blog__title">
        <a class="blog__link" href="single.html">
          Avoid Solar Panels Damage Your Top Roof
        </a>
      </h2>
      <p class="blog__text">Pellentesque porta arcu velit faucibs kodales dolor rhoncus sed. Curabitur lacinia
        masysa
        vitaese Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non
        proident, sunt in culpa...</p>
      <div class="blog__bottom-info">

        <div class="blog__meta">
          By
          <a class="blog__meta-link" href="#">Admin</a>
          <a class="blog__meta-link" href="#">Solar energy</a>,
          <a class="blog__meta-link" href="#">Installation</a>
        </div>

        <div class="blog__more">
          <a class="blog__link" href="single.html">
            Read more <svg class="blog__icon" viewBox="0 0 490 380">
              <use xlink:href="images/icons/sprite.svg#blog-arrow"></use>
            </svg>
          </a>
        </div>

      </div>
    </div>
  </div>

</article>