<section class="blog">

  <div class="blog__wrapper">

    <div class="blog__articles">

      <!-- start article section -->
      @@include('_article.html')
      <!-- end article section -->

      <!-- start article section -->
      @@include('_article.html')
      <!-- end article section -->

      <!-- start article section -->
      @@include('_article.html')
      <!-- end article section -->

    </div>


    <div class="blog__aside">

    </div>
  </div>

    <!-- start pagination section -->
    @@include('../../components/_pagination.html')
    <!-- end pagination section -->
</section>