<div class="blog-category">

  <h3 class="blog-sidebar__title content-box__title">
    Категорії
  </h3>

  <ul class="blog-sidebar__categories">

    <li class="blog-sidebar__category">

      <a href="#" class="blog-sidebar__category-link">

        <svg class="blog__icon" viewBox="0 0 490 380">
          <use xlink:href="images/icons/sprite.svg#blog-arrow"></use>
        </svg>
        Електрика</a>
    </li>

    <li class="blog-sidebar__category">

      <a href="#" class="blog-sidebar__category-link">

        <svg class="blog__icon" viewBox="0 0 490 380">
          <use xlink:href="images/icons/sprite.svg#blog-arrow"></use>
        </svg>
        Новини</a>
    </li>

    <li class="blog-sidebar__category">
      <a href="#" class="blog-sidebar__category-link">
        <svg class="blog__icon" viewBox="0 0 490 380">
          <use xlink:href="images/icons/sprite.svg#blog-arrow"></use>
        </svg>
        Сонячна електрика</a>
    </li>

    <li class="blog-sidebar__category">

      <a href="#" class="blog-sidebar__category-link">
        <svg class="blog__icon" viewBox="0 0 490 380">
          <use xlink:href="images/icons/sprite.svg#blog-arrow"></use>
        </svg>
        Законодавство
      </a>
    </li>

    <li class="blog-sidebar__category">

      <a href="#" class="blog-sidebar__category-link">
        <svg class="blog__icon" viewBox="0 0 490 380">
          <use xlink:href="images/icons/sprite.svg#blog-arrow"></use>
        </svg>
        Сервіс
      </a>
    </li>

    <li class="blog-sidebar__category">

      <a href="#" class="blog-sidebar__category-link">
        <svg class="blog__icon" viewBox="0 0 490 380">
          <use xlink:href="images/icons/sprite.svg#blog-arrow"></use>
        </svg>
        Зміни
      </a>
    </li>

  </ul>

</div>