<div class="blog">

  <div class="blog__wrapper">

    <div class="blog__articles">

      <!-- start article section -->
      @@include('_article.html')
      <!-- end article section -->

      <!-- start article section -->
      @@include('_article.html')
      <!-- end article section -->

      <!-- start article section -->
      @@include('_article.html')
      <!-- end article section -->

    </div>


    <!-- start aside-blog section -->
    @@include('_aside-blog.html')
    <!-- end aside-blog section -->
  </div>


</div>