<div class="blog-posts">

  <h3 class="blog-sidebar__title content-box__title">
    Останні новини
  </h3>

  <div class="blog-posts__list">
    <div class="blog-posts__item">

      <img src="images/recent-post/post-thumb.jpg" alt="Картинка" class="blog-posts__image">

      <div class="blog-posts__content">
        <h4 class="blog-posts__title">
          <a class="blog-posts__link" href="#">Home Solar Power, Reuse By Maintainance</a>
        </h4>
        <div class="blog-posts__date">Posted: 23 Oct 2019</div>
      </div>

    </div>
  </div>

  <div class="blog-posts__list">
    <div class="blog-posts__item">

      <img src="images/recent-post/post-thumb.jpg" alt="Картинка" class="blog-posts__image">

      <div class="blog-posts__content">
        <h4 class="blog-posts__title">
          <a class="blog-posts__link" href="#">Home Solar Power, Reuse By Maintainance</a>
        </h4>
        <div class="blog-posts__date">Posted: 23 Oct 2019</div>
      </div>

    </div>
  </div>

  <div class="blog-posts__list">
    <div class="blog-posts__item">

      <img src="images/recent-post/post-thumb.jpg" alt="Картинка" class="blog-posts__image">

      <div class="blog-posts__content">
        <h4 class="blog-posts__title">
          <a class="blog-posts__link" href="#">Home Solar Power, Reuse By Maintainance</a>
        </h4>
        <div class="blog-posts__date">Posted: 23 Oct 2019</div>
      </div>

    </div>
  </div>

</div>