<div class="tags">

  <h3 class="blog-sidebar__title content-box__title">
    Популярні розділи
  </h3>

  <ul class="tags__list">
    <li class="tags__item">
      <a href="#" class="tags__link">
        Industry
      </a>
    </li>

    <li class="tags__item">
      <a href="#" class="tags__link">
        lorem
      </a>
    </li>

    <li class="tags__item">
      <a href="#" class="tags__link">
        asdasda
      </a>
    </li>

    <li class="tags__item">
      <a href="#" class="tags__link">
        asdasd
      </a>
    </li>

    <li class="tags__item">
      <a href="#" class="tags__link">
        asdasd
      </a>
    </li>

    <li class="tags__item">
      <a href="#" class="tags__link">
        asdas
      </a>
    </li>
  </ul>

</div>