<section class="disputes">
  <div class="disputes__block">
    <h2 class="disputes__title title">
      Порядок подання споживачами звернень, скарг, претензій,
      надання повідомлень про загрозу електробезпеці та їх розгляду
    </h2>

    <p class="disputes__text content-box__text">
      Законом України «Про звернення громадян» визначаються загальні засади реалізації права
      громадян на звернення, яким передбачається право звернутися до органів державної влади,
      ісцевого самоврядування, об'єднань громадян, підприємств, установ, організацій незалежно від
      форм власності, до засобів масової інформації, посадових осіб відповідно до їх функціональних
      обов'язків із зауваженнями, скаргами та пропозиціями, що стосуються їхньої статутної діяльності,
      заявою або клопотанням щодо реалізації своїх соціальноекономічних, політичних та особистих
      прав і законних інтересів та скаргою про їх порушення.
    </p>
  </div>

  <div class="disputes__block">

    <h2 class="disputes__title title">
      Способи досудового вирішення спорів
    </h2>

    <p class="disputes__text content-box__text">
      Законом України «Про звернення громадян» визначаються загальні засади реалізації права
      громадян на звернення, яким передбачається право звернутися до органів державної влади,
      ісцевого самоврядування, об'єднань громадян, підприємств, установ, організацій незалежно від
      форм власності, до засобів масової інформації, посадових осіб відповідно до їх функціональних
      обов'язків із зауваженнями, скаргами та пропозиціями, що стосуються їхньої статутної діяльності,
      заявою або клопотанням щодо реалізації своїх соціальноекономічних, політичних та особистих
      прав і законних інтересів та скаргою про їх порушення.
    </p>
  </div>

</section>