<section class="faq">

  <div class="container">

    <p class="content-box__text">
      Згідно Закону України «Про ринок електричної енергії» з 1 липня 2019 року розпочав свою роботу «новий ринок
      електричної енергії», метою якого є запровадження конкурентних механізмів функціонування ринку електроенергії,
      вільний вибір контрагентів та забезпечення права споживача вільно обирати постачальника електричної енергії.
    </p>

    <div class="faq__block">

      <ul class="faq__tabs">

        <li class="faq__item">
          <div class="faq__tab">
            <h2 class="faq__title">Title 1</h2>
            <div class="faq__icon open">
              <span></span>
              <span></span>
            </div>
          </div>

          <div class="faq__content">
            <p class="faq__text content-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              obcaecati hic iusto numquam excepturi quos ab veniam eveniet adipisci quas.</p>
          </div>


        </li>

        <li class="faq__item">
          <div class="faq__tab">
            <h2 class="faq__title">Title 2</h2>
            <div class="faq__icon">
              <span></span>
              <span></span>
            </div>
          </div>

          <div class="faq__content">
            <p class="faq__text content-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              obcaecati hic iusto numquam excepturi quos ab veniam eveniet adipisci quas.</p>
          </div>


        </li>

        <li class="faq__item">
          <div class="faq__tab">
            <h2 class="faq__title">Title 3</h2>

            <div class="faq__icon">
              <span></span>
              <span></span>
            </div>

          </div>

          <div class="faq__content">
            <p class="faq__text content-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              obcaecati hic iusto numquam excepturi quos ab veniam eveniet adipisci quas.</p>
          </div>

        </li>

        <li class="faq__item">
          <div class="faq__tab">
            <h2 class="faq__title">Title 4</h2>

            <div class="faq__icon">
              <span></span>
              <span></span>
            </div>

          </div>

          <div class="faq__content">
            <p class="faq__text content-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              obcaecati hic iusto numquam excepturi quos ab veniam eveniet adipisci quas.</p>
          </div>


        </li>
      </ul>

      <ul class="faq__tabs">

        <li class="faq__item">
          <div class="faq__tab">
            <h2 class="faq__title">Title 5</h2>

            <div class="faq__icon open">
              <span></span>
              <span></span>
            </div>

          </div>

          <div class="faq__content">
            <p class="faq__text content-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              obcaecati hic iusto numquam excepturi quos ab veniam eveniet adipisci quas.</p>
          </div>

        </li>

        <li class="faq__item">
          <div class="faq__tab">
            <h2 class="faq__title">Title 6</h2>

            <div class="faq__icon">
              <span></span>
              <span></span>
            </div>

          </div>

          <div class="faq__content">
            <p class="faq__text content-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              obcaecati hic iusto numquam excepturi quos ab veniam eveniet adipisci quas.</p>
          </div>

        </li>

        <li class="faq__item">
          <div class="faq__tab">
            <h2 class="faq__title">Title 7</h2>

            <div class="faq__icon">
              <span></span>
              <span></span>
            </div>

          </div>

          <div class="faq__content">
            <p class="faq__text content-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              obcaecati hic iusto numquam excepturi quos ab veniam eveniet adipisci quas.</p>
          </div>

        </li>

        <li class="faq__item">
          <div class="faq__tab">
            <h2 class="faq__title">Title 8</h2>

            <div class="faq__icon">
              <span></span>
              <span></span>
            </div>

          </div>

          <div class="faq__content">
            <p class="faq__text content-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
              obcaecati hic iusto numquam excepturi quos ab veniam eveniet adipisci quas.</p>
          </div>

        </li>

      </ul>

    </div>

  </div>

</section>