<section class="info">
  <div class="container">
    <div class=" info__block">

      <ul class=" info__tabs">

        <li class=" info__item  info__item--active">
          <span class=" info__tab ">Tab 1</span>
          <svg class=" info__icon" viewBox="0 0 600 550">
            <use xlink:href="images/icons/sprite.svg#arrow"></use>
          </svg>
        </li>

        <li class=" info__item">
          <span class=" info__tab">Tab 2</span>
          <svg class=" info__icon" viewBox="0 0 600 550">
            <use xlink:href="images/icons/sprite.svg#arrow"></use>
          </svg>
        </li>

        <li class=" info__item">
          <span class=" info__tab">Tab 3</span>
          <svg class=" info__icon" viewBox="0 0 600 550">
            <use xlink:href="images/icons/sprite.svg#arrow"></use>
          </svg>
        </li>

        <li class=" info__item">
          <span class=" info__tab">Tab 4</span>
          <svg class=" info__icon" viewBox="0 0 600 550">
            <use xlink:href="images/icons/sprite.svg#arrow"></use>
          </svg>
        </li>

        <li class=" info__item">
          <span class=" info__tab">Tab 5</span>
          <svg class=" info__icon" viewBox="0 0 600 550">
            <use xlink:href="images/icons/sprite.svg#arrow"></use>
          </svg>
        </li>

        <li class=" info__item">
          <span class=" info__tab">Tab 6</span>
          <svg class=" info__icon" viewBox="0 0 600 550">
            <use xlink:href="images/icons/sprite.svg#arrow"></use>
          </svg>
        </li>

        <li class=" info__item">
          <span class=" info__tab">Tab 7</span>
          <svg class=" info__icon" viewBox="0 0 600 550">
            <use xlink:href="images/icons/sprite.svg#arrow"></use>
          </svg>
        </li>

        <li class=" info__item">
          <span class=" info__tab">Tab 8</span>
          <svg class=" info__icon" viewBox="0 0 600 550">
            <use xlink:href="images/icons/sprite.svg#arrow"></use>
          </svg>
        </li>
      </ul>

      <ul class=" info__content">
        <li class=" info__content-item">
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
        </li>

        <li class=" info__content-item">
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
        </li>

        <li class=" info__content-item">
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
        </li>

        <li class=" info__content-item">
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
        </li>

        <li class=" info__content-item">
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
        </li>

        <li class=" info__content-item">
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
        </li>

        <li class=" info__content-item">
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
        </li>

        <li class=" info__content-item">
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
          <p class=" info__text content-box__text"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam,
            eveniet quidem! In commodi distinctio
            incidunt blanditiis iure iste, molestiae amet?</p>
        </li>
      </ul>

    </div>

  </div>
</section>